<div style="background-color: aquamarine;">
<header class="bg-dark text-light py-3">
    <div class="container d-flex justify-content-between">
      <div>
        <span>Call us (Canada*)</span>
        <a href="tel:+16473661867" class="text-warning">+1 (647) 3661867</a>
      </div>
      <div>
        <span>Call us</span>
        <a href="tel:+917299888886" class="text-warning">+91 72998 88886</a>
      </div>
      <div>
        <a href="mailto:support@goride.run" class="text-warning">Write to us: support123gorido.com</a>
      </div>
    </div>
  </header>
  <footer class="bg-dark text-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Have questions or need support?</h5>
          <p>Reach out to our team at</p>
          <a href="mailto:support@goride.run" class="text-warning">support123goride.run</a>
          <div class="social-icons mt-3">
            <a href="#"><i class="bi bi-whatsapp"></i></a>
            <a href="#"><i class="bi bi-twitter"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-warning">About</a></li>
            <li><a href="#" class="text-warning">Contact</a></li>
            <li><a href="#" class="text-warning">FAQ</a></li>
            <li><a href="#" class="text-warning">Terms & Conditions</a></li>
            <li><a href="#" class="text-warning">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Service Offerings</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-warning">CRM with Dispatch System</a></li>
            <li><a href="#" class="text-warning">Driver App</a></li>
            <li><a href="#" class="text-warning">Passenger App</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>