<div class="features-grid-container">
    <h2 style="display: grid; place-items: center; color: orange;">
        How It Works
    </h2>
    <br><br>
    <div class="features-grid" style="text-align: center;">
        <div class="feature-card">
            <h2 style="color: red;">Step 1</h2>
            <h4>Easy setup</h4>
            <p>Our intelligent dispatch system uses advanced algorithms to match drivers with passengers in real time.</p>
        </div>
        
        <div class="feature-card">
            <h2 style="color: yellow;">Step 2</h2>
            <h4>Real-Time Fleet Tracking</h4>
            <p>Keep track of your vehicles and drivers with our live tracking feature. Monitor your fleet's location, speed, and powerful insights.</p>
        </div>
        
        <div class="feature-card">
            <h2 style="color: blueviolet;">Step 3</h2>
            <h3>Dynamic Pricing & Demand Forecasting</h3>
            <p>Maximize your profits with GoRide’s dynamic pricing and demand forecasting tools. Our AI analyzes historical data.</p>
        </div>

        <div class="feature-card">
            <h2 style="color: blue;">Step 4</h2>
            <h3>Automated Reporting & Analytics</h3>
            <p>Gain valuable insights into your fleet’s performance with GoRide’s comprehensive reporting and analytics tools.</p>
        </div>
        
        <div class="feature-card">
            <h2 style="color: greenyellow;">Step 5</h2>
            <h4>Remote Automated</h4>
            <p>Our intelligent dispatch system uses advanced algorithms to match drivers with passengers in real time.</p>
        </div>
    </div>
</div>


