<div class="sidebar-container">
    <div class="sidebar-content">
      <h1 class="centered-title">{{ currentWord }} DISPATCH</h1>
      <h1 class="title">SOFTWARE SOLUTION</h1>
      <p>Automate and modernize your taxi fleet operations</p>
      <p>with a white label taxi app solution powered by</p>
      <p>cutting-edge dispatch technology</p>
      <div class="text-center mt-4">
        <button class="btn btn-primary">
          <i class="fas fa-car"></i> Get Started
        </button>
      </div>
    </div>
  
    <div class="sidebar-image">
      <img src="/assets\image\tab.jpeg" alt="Your Image" class="img-fluid" width="1000px">
    </div>
  </div>
  